
*{
    margin: 0;
    padding: 0;
    max-width: 1200px;
   margin: auto;
}
body{
 background-color: rgb(0, 0, 0);
}
.container-fluid{
    background-color: rgb(0, 0, 0);
}
.container-fluid p,.container-fluid span,.container-fluid ul,
.container-fluid h5{
    color: rgb(164, 164, 164);
}
.navbar{
    position: sticky;
    padding-top: 10px;
    top: 0;
    background-color: rgb(0, 0, 0);
    z-index: 100;
    /* background-color: aliceblue; */
}
.navbar-brand,.navbar-nav,.nav-item{
    margin: 0;
}
.navbar-nav a,.navbar-brand{
    /* background-color: rgba(255, 255, 255, 0.3); */
    margin-left: 15px;
    padding: 2px;
    border:solid rgb(255, 255, 255,.2) 1px;
    border-radius: 5px;
    font-size: 20px;
    color: rgb(255, 165, 0) !important;
    /* font-weight: bold; */
}
.navbar-nav a:hover{
    background-color: rgb(255, 165, 1);
    color: rgb(0, 0, 0) !important;
}
.navbar-brand{
    font-size: 35px;
    /* background-color: aqua; */
    padding: 0 2px;
    margin-right: 40px;
    font-weight: bold;
    line-height: 35px;
    border: solid 2px transparent;
}
.navbar-brand:hover{
    color: aliceblue;
    border-bottom: 2px orange solid;
    border-top: 2px orange solid;
}
.navbar-brand span{
    font-size: 20px;
}
.navbar-toggler i{
    font-size: 30px !important;
    color: orange;
}

.np{
  position: relative;
}
.header{
    position: relative;
    height: 50vh;
    border-bottom:solid rgb(255, 165, 0,.7) 1px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    /* background-color: rgba(255, 200, 50); */
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.3)), url("../imagenes/rolo1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-y:top;
    padding: 2px 0;
  
}

.imagen{
    width:250px;
    height:200px;
    border-radius: 5%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.8)), url(../imagenes/rolo1.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position-y:top ;
    overflow: hidden;
}
.imagen img{
    width: 100%;
    height: 100%;
}
.anio_nuevo{
    /* background-color: aqua; */
    margin-top:80px;
    padding: 20px;
    position: relative;
    height:120px;
    /* border-top: 2px solid grey; */
}
.cajita{
    /* background-color: aliceblue; */

    /* width:300px; */
    position: absolute;
    right: 2%;
}
.anio_text{
    width:100%;
    /* background-color: aliceblue; */
    margin-bottom: 0;
    font-size: 23px;
    color: orange;
}
.dia,.hora,.minuto,.segundo{
    display: inline-block;
    position: relative;
    margin-left: 1px;
    /* background-color: rgb(236, 215, 34); */
    box-shadow: 0 0 5px 1px rgb(252, 226, 134);
    width:50px;
    height:50px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    color: orange;
    text-shadow: 1px 1px 5px white;
}
.mes::before,
.dia::before,
.hora::before,
.minuto::before,
.segundo::before{
    /* content: "Mes"; */
    position: absolute;
    /* text-align: center; */
    top:18px;
    right: 0;
    left: 0;
    bottom: 0;
}
.mes::before{
    content: "mes";
}
.dia::before{
    content: "dia";
}
.hora::before{
    content: "hora";
}
.minuto::before{
    content: "min";
}
.segundo::before{
content: "seg";
}

.datos{
    width:50%;
    /* background-color: antiquewhite; */
    text-align: center;
}
.datos h2,.datos h4,.anio_text,.dia,.hora,.minuto,.segundo,.navbar-brand{
    text-shadow: 1px 1px 2px rgb(0, 0, 0) !important;
    color: rgba(255, 165, 0) !important;
}
.dia,.hora,.minuto,.segundo{
    font-weight: bold;
}
.dia::before,.hora::before,.minuto::before,.segundo::before{
    color: rgba(255, 200, 50);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.social{
    /* position: absolute; */
    width: 100%;
    /* background-color: aqua; */
    margin: 5px auto;
    padding-left: 5%;
    padding-top: 20px;
}
.social i{
    font-size: 30px;
}
.social a{
    font-size: 18px;
    text-decoration: none;
}
.np{
    padding-left: 0;
    padding-right: 0;
}
.accordion-button{
    background-color: black;
    color: orange;
}
.accordion-button strong{
    /* background-color: red; */
    font-size: 20px;
    margin: 0;
}
.accordion-item{
    border:none !important

}
/* .accordion-body{
    background-color: rgb(0, 0, 0,.9);
    color: rgba(232, 174, 0, 0.9);
} */
.proyectos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.proyectos h2{
    width:100%;
    padding-left: 5%;
}
.proyectos h2 i{
    font-size: 23px;
}
.proyectos .card{
    width:250px;
    margin: 10px;
}
.card-body{
    padding: 1px;
}
.card-img{
    /* border:solid red 1px; */
    width:100%;
    height:150px;
    overflow-y: scroll;
}
.card-body{
    margin: 0;
}
.boton_proy{
    width:100%;
    /* background-color: aqua; */
    margin: 10px 0;
    padding:5px ;
    text-align: right;
}

/* TECNOLOGIAS */
.tecnologias{
    display: flex;
    flex-wrap: wrap;
}
.tecnologias h2{
    width:100%;
    margin: 10px 0;
    padding-left: 5%;
}
.tecnologias h2 i{
    font-size: 23px;
    font-weight: bold;
}
.tecnologias .card{
    margin: 10px auto;
    width:150px
    /* background-color: red; */
}
.img_card{
    width:100%;
    height:100px;
    overflow: hidden;
    /* border:solid blue 1px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_card img{
    width:60%;
    margin: auto;
}
/* diferentes paginas */
.img-js,
.img-html,
.img-css{
    /* border:solid red 1px !important; */
    text-align: center;
    width:70%;
    margin-bottom: 20px;
    overflow: hidden;
}
.img-html img,.img-css img,.img-js img
{
width:100%
}
.img_js{
    width:100%;
    overflow: hidden;
}
.img_js img{
    width:50%
}

.footer{
    color:orange;
    background-color: rgb(0, 0, 0);
    border-top:2px orange solid
}
.footer li{
    list-style: none;
}
.footer i{
    font-size: 25px;
}
