
*{
    margin: 0;
    padding: 0;
    max-width: 1200px;
   margin: auto;
}
body{
 background-color: rgb(255, 255, 255);
}
/* .container-fluid{
    background-color: black;
} */
.navbar{
    position: sticky;
    top: 0;
    background-color: rgb(255, 200, 50);
    z-index: 100;
}
.navbar-brand,.navbar-nav,.nav-item{
    margin: 0;
}
.navbar-nav a,.navbar-brand{
    /* background-color: rgba(255, 255, 255, 0.3); */
    margin-left: 15px;
    padding: 2px;
    border:solid rgb(255, 255, 255,.2) 1px;
    border-radius: 5px;
    font-size: 20px;
    /* color: white !important; */
    /* font-weight: bold; */
}
.navbar-nav a:hover{
    background-color: rgb(207, 152, 1);
    color: honeydew !important;
}
.navbar-brand{
    font-size: 35px;
    /* background-color: aqua; */
    padding: 2px;
    margin-right: 40px;
    font-weight: bold;
    border: solid 2px transparent;
}
.navbar-brand:hover{
    color: aliceblue;
    border-bottom: 2px white solid;
}
.navbar-brand span{
    font-size: 20px;
}
.navbar-toggler i{
    font-size: 30px !important;
}

.containe{
    width:100%;
    margin: auto !important;
}
.header{
    position: relative;
    /* border:solid red 1px; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(255, 200, 50); */
    background-image: linear-gradient(rgba(255,200,50), rgba(255,200,50),rgba(255,255,255));
    padding: 10px 0;
}
.imagen{
    width:100px;
    height:100px;
    border-radius: 50%;
    overflow: hidden;
}
.imagen img{
    width: 100%;
    height: 100%;
}
.anio_nuevo{
    /* background-color: aqua; */
    position: absolute;
   bottom: 0;
    right:5%
}
.anio_text{
    width:100%;
    /* background-color: aliceblue; */
    margin-bottom: 0;
    font-size: 23px;
}
.dia,.hora,.minuto,.segundo{
    display: inline-block;
    position: relative;
    margin-left: 1px;
    /* background-color: rgb(236, 215, 34); */
    box-shadow: 0 0 3px 5px rgb(252, 226, 134);
    width:50px;
    height:50px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
}
.mes::before,
.dia::before,
.hora::before,
.minuto::before,
.segundo::before{
    /* content: "Mes"; */
    position: absolute;
    /* text-align: center; */
    top:18px;
    right: 0;
    left: 0;
    bottom: 0;
}
.mes::before{
    content: "mes";
}
.dia::before{
    content: "dia";
}
.hora::before{
    content: "hora";
}
.minuto::before{
    content: "min";
}
.segundo::before{
content: "seg";
}

.datos{
    width:100%;
    /* background-color: antiquewhite; */
    text-align: center;
}
.datos h2,.datos span,.anio_text,.dia,.hora,.minuto,.segundo,.navbar-brand{
    text-shadow: 1px 1px 2px rgb(255, 255, 255,.2) !important;
    color: rgba(0, 0, 0, 0.5) !important;
}
.dia,.hora,.minuto,.segundo{
    font-weight: bold;
}
.dia::before,.hora::before,.minuto::before,.segundo::before{
    color: rgba(255, 200, 50);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.social{
    /* position: absolute; */
    width: 100%;
    /* background-color: aqua; */
    margin: 5px auto;
    padding-left: 5%;
    padding-top: 20px;
}
.social i{
    font-size: 30px;
}
.social a{
    font-size: 18px;
    text-decoration: none;
}
.np{
    padding-left: 0;
    padding-right: 0;
}
.accordion-button strong{
    /* background-color: red; */
    font-size: 20px;
    margin: 0;
}

.proyectos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.proyectos h2{
    width:100%;
    padding-left: 5%;
}
.proyectos h2 i{
    font-size: 23px;
}
.proyectos .card{
    width:250px;
    margin: 10px;
}
.card-body{
    padding: 1px;
}
.card-img{
    /* border:solid red 1px; */
    width:100%;
    height:150px;
    overflow-y: scroll;
}
.card-body{
    margin: 0;
}
.boton_proy{
    width:100%;
    /* background-color: aqua; */
    margin: 10px 0;
    padding:5px ;
    text-align: right;
}

/* TECNOLOGIAS */
.tecnologias{
    display: flex;
    flex-wrap: wrap;
}
.tecnologias h2{
    width:100%;
    margin: 10px 0;
    padding-left: 5%;
}
.tecnologias h2 i{
    font-size: 23px;
    font-weight: bold;
}
.tecnologias .card{
    margin: 10px auto;
    width:150px
    /* background-color: red; */
}
.img_card{
    width:100%;
    height:100px;
    overflow: hidden;
    /* border:solid blue 1px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_card img{
    width:60%;
    margin: auto;
}

.footer{
    color:white
}
.footer li{
    list-style: none;
}
.footer i{
    font-size: 25px;
}
