

@media(max-width:992px){

}
@media(max-width:768px){
.logo{
    position: absolute;
    left:10%
}
.ul{
    width:100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left:0;
    background: rgb(255, 255, 255);
    flex-direction: column;
    z-index: 100;
    transition: .5s;
    transform: translateY(-200%);
}
.ul li{
    background: rgb(238, 237, 248,.1);
    width:100%;
    text-align: center;
}
.ul li a{
    display: inline-block;
    width:90%;
    background: transparent;
    /* color: black; */
}
.ver_ul{
    transform: translateY(0);
}
.close{
    display: block;
    position: absolute;
    top:5px;
    right:5px;
}
.hamburguesa{
    display: block;
    margin: 0;
}
.h_text ul,.h_text ul:last-child{
    width:100%
}
.ul_img{
    top:0
}
.ano{
    top:-20px;
    right:35%;
    /* background: rgb(0,0,255); */
}
}
@media(max-width:576px){
.anim_sect{
    width:100%
}
 .span{
     font-size: 10px;
 }
 .article{
     width:90%
 }
 .article p{
     padding: 10px;
 }
 .figure{
     height:250px
 }
.carousel-cell{
height: 350px;
}
 .h_text ul:first-child li{
     width:80%
 }
 .ul_img{
     right: 0;
     top:10px;
     height:80px;
     width:80px
 }
 .ano{
     right:30%
 }
 .footer p a{
     font-size: 18px;
 }
}
@media(max-width:300px){
  
}