
*{
    margin:  auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 1100px;
}
body{
    background: black;
    color: rgb(255, 255, 255);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contenedor{
    width:100%;
    box-sizing: border-box;
    margin: auto;
}
.nav{
    width: 100%;
    height:60px;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    transition: .5s;
    box-sizing: border-box;
}
.menu{
    width:90%;
    height:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin: 0;
    width:100px;
    height:40px;
}
.logo img{
width: 100%;
height:100%
}
.menu_btn{
    margin: 0;
    width:100px;
    height:30px;
    border:none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}
/* ************************header************************ */
.header,.cont_tv,.cont_descarga,.cont_dq,.ninos_cont,.cont_preg,.footer{
    border-bottom:solid rgb(93, 93, 93) 4px;
    padding: 50px 0;
    margin: 50px auto;

}
.header{
    width: 100%;
    height:90vh;
    padding: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, rgb(0, 0, 0,.5)0%,rgb(0,0,0,.9)50%,rgb(0,0,0,.5)100%),
    url(imagenes/series-netflix.jpg);
    background-attachment: fixed;
    background-size: cover;
   margin-bottom: 20px;
}
.header_info{
    width: 90%;
    color:white;
   text-align: center;
   padding: 50px 0;

}
.header_info h2{
    font-size: 30px;
    padding:5px 0
}
.header_info h4{
    font-size: 20px;
}
.header_info p{
    font-size: 18px;
    padding: 5px 0;
}
.header_info span{
    font-size: 10px;
    font-weight: bold;
}
.header_input{
    width:50%;
    height:35px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.input_btn,.ya_btn,.menu_btn{
    background: rgb(255, 0, 0);
    transition: .5s;
    cursor: pointer;
    color:white
}
.input_btn:hover,.ya_btn:hover,.menu_btn:hover{
    background: rgb(247, 89, 89);
    /* margin: 10px auto;
    padding: 50px 0; */
}
.input_email{
    width:80%;
    height: 100%;
    border: none;
    box-sizing: border-box;
}
.input_btn{
    width: 23%;
    height:100%;
    border:none;
    font-size: 15px;
}
/* **************************ver en la TV********************** */
.cont_tv{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tv_text{
    width:350px;
    border-bottom:solid rgb(230, 223, 223) 1px;
    margin: 10px;
    display: flex;
   flex-direction: column;
   justify-content: center;
}
.tv_text h2{
    font-size: 30px;
    padding: 10px 0;
}
.tv_text p{
    font-size: 15px;
}
.tv_img{
    width:300px;
    height:150px;
    border:solid black 1px;
    margin: 10px;
}
.tv_img img{
    width:100%;
    height:100%
}
/* ****************************descarga************************ */
.cont_descarga{
    width:100%;
    border-bottom:solid rgb(93, 93, 93) 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.descarga_img{
    width:300px;
    height:350px;
    margin: 10px;
}
.descarga_img img{
    width:100%;
    height:100%
}
.descarga_text{
    width:400px;
    margin: 10px;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.descarga_text h2{
    font-size: 25px;
}
.descarga_text p{
    font-size: 15px;
}
/* *************************donde quieras*********************** */
.cont_dq{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.dq_text{
    width:400px;
    padding: 50px 0;
    flex-direction: column;
    justify-content: center;
}
.dq_text h2{
    font-size: 30px;
    padding: 10px 0;
}
.dq_text p{
    font-size: 15px;
}
.dq_img{
    width:350px;
    height:180px;
}
.dq_img img{
    width:100%;
    height: 100%;
}
/* *************************paRA niños******************** */
.ninos_cont{
    width:100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.ninos_img{
    width:480px;
    height: 400px;
    /* border: solid white 1px; */
    margin: 0;
}
.ninos_img img{
    width:100%;
    /* height:100% */
}
.ninos_text{
    width:500px;
    /* border:solid white 1px; */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ninos_text h2{
    font-size: 30px;
    margin: 0;
    /* background: chartreuse; */
}
.ninos_text p{
    font-size: 20px;
    margin: 0;
}
/* *************************preguntas****************** */
.cont_preg{
    width: 100%;
}
.cont_preg> p{
    text-align: center;
    font-size: 30px;
    padding: 10px 0;
}
.li{
    width:400px;

}
.li li{
    font-size: 18px;
    background: rgb(31, 30, 30);
    margin: 5px 0;
    list-style: none;
    padding: 5px 10px;
}
.com_ya{
    width:35%;
}
.com_ya p{
    font-size: 15px;
    font-weight: bold;
    padding: 10px 0;
}
.ya_input{
    width:100%;
    height:30px;
    display: flex;
    align-items: center;
}
.ya_email{
    height: 90%;
    width:80%;
    border: none;
}
.ya_btn{
    width:25%;
    height:90%;
    border: none;
    font-size: 15px;
}
/* **********************footer************************* */
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: none;
}
.footer_ul{
width:200px;
margin: 5px;
}
.footer_ul li{
    margin: 5px auto;
    list-style: none;
    font-size: 15px;
}
.contacto{
    width:100%;
    margin: 50px auto;
    background: linear-gradient(to right, rgb(0, 0, 0)0%, rgb(22,22,22)50%, rgb(0,0,0)100%) ;
}
.contacto p{
    width:100%;
    font-size: 20px;
    text-align: center;
    padding: 20px 0;
}
.contacto p a{
    color:rgb(15, 2, 255)
}
.redes{
    width:100%;
    padding: 20px 0;
    text-align:center;
}
.redes a{
  font-size: 30px;
  color: blue;
  margin: 20px;
}
